#background{
    height: 770px 100vh;
    width: 1280px;
    background-size: cover;
    margin-top: -10px;
    margin-left: -7px;
    position: fixed;
    
}
.container{
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 50%;
    margin-top: 10px;
    background-color: #ffffff20;
    border-radius: 2%;
    color: black;
    border: 1px solid #ffffff10;
    width: 400px;
    
    
  }
  .container #btn{
    width: 50px;
    margin: 10px;
    
  }
  .container h1{
    margin: 10px;
  }